body{
    background-color:#0fa656 ;
}

.container{
    width: 25%;
    height: 25%;
    background-color: whitesmoke;
    padding: 16px;
    margin: auto;       
}
.container1{
    margin-top: 140px;
    margin-bottom: 26px;
}

h3,p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    display: inline-block;
    cursor: pointer;
    width: 100%;
  }
    /* width: 100%;
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }

  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
  }